<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title><%= logged_in_user_details %></title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'/>-->
    <link rel="stylesheet" type="text/css" href="/AircraftAdminFree/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/AircraftAdminFree/lib/font-awesome/css/font-awesome.css"/>

    <script src="/AircraftAdminFree/lib/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/AircraftAdminFree/stylesheets/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/AircraftAdminFree/stylesheets/premium.css"/>

    <script type="text/javascript">
      var adverts = JSON.parse('<%= adverts.to_json %>');
      var adverts_copy = JSON.parse('<%= adverts.to_json %>');
    </script>
  </head>
  <body class=" theme-blue">

    <!-- Demo page code -->

    <!--<script type="text/javascript">
      $(function() {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if(match) var color = match[1];
        if(color) {
          $('body').removeClass(function (index, css) {
            return (css.match (/\btheme-\S+/g) || []).join(' ')
          })
          $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});

      });
    </script>-->
  <style type="text/css">

    .logo_middle img{
      position: relative;
      height: 62px;
      padding-bottom: 20px;
      top: -10px;
    }

    #line-chart {
      height:300px;
      width:800px;
      margin: 0px auto;
      margin-top: 1em;
    }
    .navbar-brand{
      padding-left: 450px;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
      color: #fff;
    }

    .navbar-default {
      background-color: #F8F8F8;
      border-color: #E7E7E7;
    }

    .dropdown.dropdown-lg .dropdown-menu {
      margin-top: -1px;
      padding: 6px 20px;
    }
    .input-group-btn .btn-group {
      display: flex !important;
    }
    .btn-group .btn {
      border-radius: 0;
      margin-left: -1px;
    }
    .btn-group .btn:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0;
    }
    .form-group .form-control:last-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
      #adv-search {
        width: 500px;
        margin: 0 auto;
      }
      .dropdown.dropdown-lg {
        position: static !important;
      }
      .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
      }
    }

    /*.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }*/

    .logo-header{
      padding-bottom: 20px !important;
      line-height: 10px;

      margin-top: -10px;
      position: relative;
    }

    .left-title{
      position: absolute;
      left: 520px;
      padding-top: 5px;
      color: black;
    }

    .right-title{
      position: relative;
      padding-left: 20px;
      top: -14px;
      color: black;
    }

    .logo_middle img{
      padding-left: 150px;
    }

    /*.theme-blue .navbar {
      background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #F4F4F4 0%, #FFFFFF 100%) repeat scroll 0 0;
      background-color: #FFFFFF
    }*/


    .dropdown-toggle{
      background-color: #AAAAAA;
    }

    .headlines{
      text-align: center;
      font-weight: bold;
      position: relative;
      top: -10px;
    }

    .well u{
      margin-left: 38%;

    }

    .well{
      border-radius: 10px;
    }

    .notes-header{
      position: relative;
      top: -18px;
      left: 40%;
    }

    .btn-circle.btn-xl {
      border-radius: 35px;
      font-size: 24px;
      height: 60px;
      line-height: 1.33;
      padding: 10px 16px;
      width: 60px;
    }
    .btn-circle {
      border-radius: 15px;
      font-size: 12px;
      height: 30px;
      line-height: 1.42857;
      padding: 6px 0;
      text-align: center;
      width: 30px;
    }
    .btn-circle {
      border-radius: 500px;
      height: 40px;
      padding: 8px 10px;
      width: 40px;
    }

    /*.icon-text{
      font-size: 12pt;
      position: absolute;
      padding-top: 40px;
      right: 191px;
      float: right;
      color: #428bca;

    }*/

    .icon-text:hover {
      color: #2a6496;
    }

    .del:hover{
      text-decoration: underline;
      cursor: pointer;
      color: red !important;
    }

    .news-headlines a:hover, .news-headlines a:focus, .updates a:hover, .updates a:focus {
      color: blue !important;
    }

    .adverts{
      position: fixed;
      top: 160px;
    }

    .adverts img{
      max-height: 90px;
}
  </style>


  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <!--<link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->


  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->

  <!--<![endif]-->

  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">

      <!--<a class="logo">
        <img alt="Agoogoo Logo" src="/images/logo.jpeg"/>
      </a>-->
      <a class="" href="/dashboard">
        <span class="navbar-brand">
          <span class="left-title">Agoogoo </span><i class="logo_middle">
            <img alt="Agoogoo Logo" src="/images/logo.jpeg"/></i>
          <span class="right-title logo-header">Library</span>
        </span></a>
    </div>

    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> <%= logged_in_user_details %>
            <i class="fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu">
            <li><a href="/my_account">My Account</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">My Panel</li>
            <li><a href="/select_books_from_store">Book Store</a></li>
            <li><a href="/dashboard">Book Shelf</a></li>
            <!--<li><a tabindex="-1" href="#">Readers Digest</a></li>-->
            <li class="divider"></li>
            <li><a tabindex="-1" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>


  <div class="sidebar-nav">
    <ul>
      <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-folder"></i> Menu<i class="fa fa-collapse"></i></a></li>
      <li>
        <ul class="dashboard-menu nav nav-list collapse">
          <li><a href="/dashboard"><span class="fa fa-caret-right"></span> Bookshelf</a></li>
          <li ><a href="/select_books_from_store"><span class="fa fa-caret-right"></span> Book Store</a></li>
          <li ><a href="/my_account"><span class="fa fa-caret-right"></span> My Account</a></li>
        </ul>
      </li>
    </ul>
    <div style="padding-left: 5px; width: 98%;">
      <div class="well well-large" style="border-radius: 0px; min-height: 200px;">
        <b class="notes-header">Notes </b>
        <div style="overflow-y: auto; height: 130px; width: 109%">
          <ul>
            <% count = 1 %>
            <% user_notes.each do |user_note| %>
              <li><a class="notes" href="#" onclick="return showViewNotespopup('<%= user_note.user_note_id  %>')"><%= "#{count}.#{UserNote.trim(user_note.data, 20)}"%></a><span onclick="showRemoveNotesPopup(<%= user_note.user_note_id%>);" style="color: #8B0000; padding-right: 10px !important;" class="pull-right del">X</span></li>
              <% count = count + 1 %>
            <% end %>
          </ul>
        </div>
      </div>
      <span class="pull-right" style="position: relative; bottom:  50px; padding-right: 5px;"><a href="#" onclick="return showNewNotesPopup();"><i class="fa fa-plus"></i> New Note</a></span>
    </div>
    <div style="padding-left: 5px; width: 98%;">
      <div class="well well-large" style="border-radius: 0px; min-height: 300px;">
        <b class="notes-header" style="left: 27%;">My Bookmarks </b>
        <div style="overflow-y: auto; height: 210px; width: 109%">
          <ul>
            <% count = 1 %>
            <% user_book_marks.each do |user_book_mark| %>
              <li>
                <a title="<%= user_book_mark.link %>" class="notes" href="<%= user_book_mark.link %>"><%= "#{count}.#{UserNote.trim(user_book_mark.link, 40)}"%></a>
                <span onclick="showRemoveBookmarkPopup(<%= user_book_mark.book_mark_id%>);" style="color: #8B0000; padding-right: 10px !important;" class="pull-right del">X</span></li>
              <br />
              <% count = count + 1 %>
            <% end %>
          </ul>
        </div>
        <br />
        <span class="pull-right" style="position: relative; bottom:  -0px;"><a href="#" onclick="return showNewBookmarkPopup();"><i class="fa fa-plus"></i> New Bookmark</a></span>

      </div>

    </div>
  </div>

  <div class="content">
    <div class="header">
      <h1 class="page-title"><%= @page_title %></h1>
      <ul class="breadcrumb">
        <li><a href="/dashboard">Home</a> </li>
        <li class="active"><%= @page_title %></li>
      </ul>
      <div class="row pull-right" style="margin-top: -31px;">
        <div class="col-md-12">
          <div class="input-group" id="adv-search">
            <form class="form-horizontal" role="form" method="GET" action="/search_results" id="general-search-form">
              <input type="text" name="general_search" id="general-search" class="form-control" placeholder="Search for Books" />
            </form>
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <form class="form-horizontal" role="form" method="GET" action="/search_results" id="search-form">
                      <div class="form-group">
                        <label for="filter">Filter by</label>
                        <select class="form-control" name="search_type">
                          <option value="all" selected>Everything</option>
                          <option value="author">Book Author</option>
                          <option value="title">Book Title</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="contain">Contains the words</label>
                        <input class="form-control" type="text" name="search_words" />
                      </div>
                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                  </div>
                </div>
                <button onclick="submitSearchForm()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br />

    <div class="adverts">
    
    </div>
    
    <div class="row" style="padding-right: 64px; top: -36px; position: relative;">

      <button onclick="goToExtras();" class="btn btn-default btn-circle btn-xl pull-right main-icon" type="button" >
        <i class="glyphicon glyphicon-time"></i>
        <span class="icon-text" style="
              font-size: 12pt;
              position: absolute;
              padding-top: 47px;
              right: 70px;
              float: right;
              color: #5B5B5B;">
          Extras
        </span>
      </button>

      <button onclick="goToBookShelf();" class="btn btn-default btn-circle btn-xl pull-right main-icon" type="button" style="margin-right: 40px;">
        <i class="glyphicon glyphicon-folder-open"></i>
        <span class="icon-text" style="
              font-size: 12pt;
              position: absolute;
              padding-top: 47px;
              right: 150px;
              float: right;
              color: #5B5B5B;">
          Book Shelf
        </span>
      </button>

      <button onclick="goToBookStore();" class="btn btn-default btn-circle btn-xl pull-right main-icon" type="button" style="margin-right: 40px;">
        <i class="glyphicon glyphicon-search"></i>
        <span class="icon-text" style="
              font-size: 12pt;
              position: absolute;
              padding-top: 47px;
              right: 249px;
              float: right;
              color: #5B5B5B;">
          Book Store
        </span>
      </button>

      <br /><br /><br />
    </div>

    <div class="main-content">
      <div class="faq-content">

        <div class="row">
          <div class="col-sm-9 col-md-9">
            <% if flash[:notice] %>
              <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <%= flash[:notice] %>
              </div><br />
            <% end %>
            <% if flash[:error] %>
              <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <%= flash[:error] %>
              </div><br />
            <% end %>

            <% if browser_detection[0].to_s.match(/Firefox|Chrome/i) %>
              <%= yield %>
            <% else %>
              <div class="panel panel-default well" style="min-height: 500px">
                <div class="bs-callout bs-callout-danger">
                  <h2 style="color: red; text-align: center;">Your browser is not supported.</h2>
                  <b>Browser</b>: <i><%= browser_detection[0] %></i> <br />
                  <b>Version</b>: <i><%= browser_detection[1] %></i> <br />
                  <br /><br /><br />
                  <h3>Switch to Firefox or Chrome</h3>
                </div>
              </div>
            <% end %>

          </div>
          <!--<div class="col-sm-3 col-md-3 pull-right">
            <div class="well well-small">
              <button class="btn btn-block"> <b>Menu</b> </button>
              <button onclick="goToBookShelf();" class="btn btn-info btn-block" onclick=""> Book Shelf </button>
              <button onclick="goToBookStore();" class="btn btn-primary btn-block" onclick=""> Bookstore</button>
          <!--<button onclick="goToRecentBooks();" class="btn btn-info btn-block" onclick=""> Recent Books </button>
          <button onclick="goToExtras();" class="btn btn-success btn-block" onclick=""> Extras </button>-->
          <!--</div>
        </div>-->

          <div class="col-sm-3 col-md-3 pull-right">
            <div class="well well-large" style="min-height: 150px;">
              <b class="headlines pull-right">Headlines <span class="label label-success"><%= headlines.count %></span></b><br />
              <div style="overflow: auto; height: 150px; overflow-y: hidden;" class="news-headlines">
                <% headlines.each do |headline| %>
                  <li class="list-group-item" onclick="showHeadlineDetails('<%= headline.news_id %>')"><a href="#"><i class="fa fa-th-list "></i> <%= UserNote.trim(headline.title, 20) %></a></li>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-sm-3 col-md-3 pull-right">
            <div class="well well-large" style="min-height: 150px;">
              <b class="headlines pull-right">Updates <span class="label label-success"><%= updates.count %></span></b><br />
              <div style="overflow: auto; height: 150px; overflow-y: hidden;" class="updates">
                <% updates.each do |update| %>
                  <li class="list-group-item" onclick="showUpdateDetails('<%= update.update_id %>')"><a href="#"><i class="fa fa-refresh "></i> <%= UserNote.trim(update.title, 20) %></a></li>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <footer>
          <hr />

          <p>© <%= Date.today.year %> <a href="#">Agoogoo</a></p>
        </footer>
      </div>


      <div class="col-lg-12">
        <div class="modal fade" id="newNotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title" id="H4"> <b id="field-title">Notes</b></h4>
              </div>
              <div class="modal-body">
                <form action="/students/save_user_notes" role="form" class="form-horizontal" method="POST" id="userNotesForm">
                  <div class="form-group">
                    <div>
                      <textarea class="form-control" rows="10" name="notes"></textarea>
                    </div>
                  </div>
                </form>
              </div>

              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-primary" type="button" onclick="saveUserNotes();">Save changes</button>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-12">
        <div class="modal fade" id="newBookmark" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title" id="H4"> <b id="field-title">Bookmark</b></h4>
              </div>
              <div class="modal-body">
                <form action="/students/save_bookmark" role="form" class="form-horizontal" method="POST" id="bookmarkForm">
                  <div class="form-group">
                    <div>
                      <textarea class="form-control" rows="5" name="bookmark"></textarea>
                    </div>
                  </div>
                </form>
              </div>

              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-primary" type="button" onclick="saveBookmark();">Create Bookmark</button>
              </div>

            </div>
          </div>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="deleteNotesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to remove the selected notes?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
              <button onclick="removeNotes();" type="button" class="btn btn-primary">Yes, Am Sure</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


      <!-- Modal -->
      <div class="modal fade" id="deleteBookMarksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to remove the selected bookmark?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
              <button onclick="removeBookMarks();" type="button" class="btn btn-primary">Yes, Am Sure</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


      <div class="col-lg-12">
        <div class="modal" id="viewNotesModal" tabindex="-1"    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Notes</h4>
              </div>
              <div class="modal-body" id="viewNotesModalBody">

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/AircraftAdminFree/lib/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript">
    $(function() {
      var uls = $('.sidebar-nav > ul > *').clone();
      uls.addClass('visible-xs');
      $('#main-menu').append(uls.clone());
    });

  </script>
  <script type="text/javascript">
    $("[rel=tooltip]").tooltip();

    function goToBookShelf(){
      window.location = "/dashboard";
    }
    function goToBookStore(){
      window.location = "/select_books_from_store";
    }

    function goToRecentBooks(){
      window.location = "/my_recent_books_menu";
    }

    function goToExtras(){
      window.location = "/extras";
    }

    $("#viewBook").draggable({
      handle: ".modal-header"
    });

    function submitSearchForm(){
      $('#general-search-form').submit();
    }

    function changeTextColor(){
      $(".main-icon").mouseover(function() {
        $(this).find('.icon-text').css( "color", "#000000" );
      });

      $(".main-icon").mouseout(function() {
        $(this).find('.icon-text').css( "color", "#5B5B5B" );
      });
    }

    changeTextColor();

    function showNewNotesPopup(){
      jQuery('#newNotes').modal('show');
      return false;
    }

    function showNewBookmarkPopup(){
      jQuery('#newBookmark').modal('show');
      return false;
    }

    function saveUserNotes(){
      jQuery("#userNotesForm").submit();
    }

    function saveBookmark(){
      jQuery("#bookmarkForm").submit();
    }

    var currentUserNotedID;
    var currentUserBookMarkID;
    
    function showRemoveNotesPopup(userNotesID){
      currentUserNotedID = userNotesID
      jQuery('#deleteNotesModal').modal('show');
      return false;
    }

    function showRemoveBookmarkPopup(userBookMarkID){
      currentUserBookMarkID = userBookMarkID;
      jQuery('#deleteBookMarksModal').modal('show');
      return false;
    }

    function removeNotes(){
      body = document.getElementsByTagName("body")[0];

      form = document.createElement("form");
      form.method = "POST"
      form.action = "/students/delete_user_notes";
      body.appendChild(form);

      input = document.createElement("input");
      input.type = "hidden";
      input.value = currentUserNotedID;
      input.name = "user_note_id";
      form.appendChild(input);

      form.submit();
    }

    function removeBookMarks(){
      body = document.getElementsByTagName("body")[0];

      form = document.createElement("form");
      form.method = "POST"
      form.action = "/students/delete_user_bookmarks";
      body.appendChild(form);

      input = document.createElement("input");
      input.type = "hidden";
      input.value = currentUserBookMarkID;
      input.name = "book_mark_id";
      form.appendChild(input);

      form.submit();
    }

    function showViewNotespopup(userNoteID){

      jQuery.ajax({
        type: "POST",
        url: "/students/render_students_notes",
        data: "user_note_id=" + userNoteID,
        beforeSend: function(){
          console.log("Before Send");
          document.getElementById('viewNotesModalBody').innerHTML = 'Please wait ...'
        },
        success: function(result){
          document.getElementById('viewNotesModalBody').innerHTML = result;
        }

      });
      jQuery('#viewNotesModal').modal('show');
      return false;
    }

    function showHeadlineDetails(newsID){
      window.location = "/read_headlines/" + newsID;
    }

    function showUpdateDetails(updateID){
      window.location = "/read_updates/" + updateID;
    }

    $(".news-headlines").animate({ scrollTop: $('.news-headlines').height() }, 5000);
    $(".updates").animate({ scrollTop: $('.updates').height() }, 5000);

    setTimeout(function() {
      $('.news-headlines').animate({scrollTop:0}, 5000);
    },5000);

    var scrolltopbottom =  setInterval(function(){
      $(".news-headlines").animate({
        scrollTop: $('.news-headlines').height()
      }, 5000);

      setTimeout(function() {
        $('.news-headlines').animate({scrollTop:0}, 5000);
      },5000);

    },10000);

    var scrollUpdatestopbottom =  setInterval(function(){
      $(".updates").animate({
        scrollTop: $('.updates').height()
      }, 5000);

      setTimeout(function() {
        $('.updates').animate({scrollTop:0}, 5000);
      },5000);

    },10000);

    function loadAdverts(){
      if (adverts.length == 0){
        adverts = JSON.parse(JSON.stringify(adverts_copy));
      }

      advert = adverts.shift();

      //adverts
      advertsDiv = jQuery(".adverts")[0];
      jQuery(".advert-img").remove();
      img = document.createElement("img");
      img.src = advert;
      img.className = "advert-img";
      advertsDiv.appendChild(img);
      setTimeout(loadAdverts, 15000); //15 seconds
    }

    loadAdverts();
  </script>


</body></html>
